/* body {
  transition: background-color 1.77s ease-in;
  background-image: url('../../assets/img/bg.texture.png'), url('../../assets/img/bg.top.png');
  background-repeat: repeat, repeat-x;
  background-size: auto, auto 2rem;
} */



.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.home .colorSelect {
  /* background-color: #f47983; */
  width: 55%;
  height: 100vh;

  /* max-height: 100%; */
  /* flex-grow: 1; */
  *::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  /* overflow-y: scroll;
  overscroll-behavior: contain; */
}

.home .colorSpace {
  width: 20%;
  height: 100vh;
  /* background-color: #789262; */
  /* flex-grow: 1; */
}

.home .bookMark {
  /* background-color: #f2be45; */
  width: 25%;
  height: 100vh;
  /* flex-grow: 1; */
}


.home .colorGroupSelect {
  position: fixed;
  bottom: 1.3rem;
  right: 5rem;

}

/* .peityContainer {
  position: relative;
} */

.percentage {
  font-family: sans-serif;
  font-size: 1em;
  text-anchor: middle;
  font-weight: bold;
  dominant-baseline: middle;
  fill: white;
}

/* .peityContainer {
  position: relative;
}

.peityContainer p{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
} */