/* @import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap'); */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* @font-face {  
  font-family: lixuke;  
  src: url('./assets/fonts/LiXuKeMaoBiXingShu-1.ttf');
} */
@font-face {  
  font-family: lixuke;  
  src: url('./assets/fonts/LiXuKeMaoBiXingShu-yasuo.woff');
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
